{% extends 'userview/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if category %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'userindex' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ category.category_name }}</li>
              </ol>
            </nav>
            {% else %}
            <h1>Product not found</h1>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <a href="{% url 'productdetail' product.id %}">
            <img src="{{product.product.product_image.url}}" class="card-img-top img-fluid" alt="Product Image" style="height: 350px; object-fit: cover;">
        </a>
        <div class="card-body text-center">
            <h4 class="card-title">{{ product.product.product_name }}</h4>
            <div class="rating mb-2" title="{{ product.rating }}">
                <!-- Rating Stars -->
                {% for i in 1..5 %}
                    <i class="fa fa-star{% if product.rating < i - 0.5 %}-o{% elif product.rating >= i - 0.5 and product.rating < i %}-half-o{% endif %}" style="color: yellow;" aria-hidden="true"></i>
                {% endfor %}
                <span><strong>({{ product.rating }}/5)</strong></span>
            </div>
            <div class="product-price mb-3">
                <h4>
                    <i class="fas fa-rupee-sign"></i>{{ product.discounted_price|floatformat:"0" }} 
                    <small><del>{{ product.product_price|floatformat:"0" }}</del></small>
                </h4>
            </div>
            <a href="{% url 'productdetail' product.id %}" class="btn btn-primary">VIEW</a>
        </div>
    </div>
</div>

        {% endfor %}
        {% else %}
        <!-- Display "Products Not Found" message if no products are found -->
        <div class="col-md-12">
            <div class="card mb-4 shadow-sm text-center">
                <div class="card-body">
                    <h2 class="mt-5" style="color:#FF6F61">No products found for {{ category.category_name }}</h2><p class="lead">Check back later for updates or explore other categories.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
