{% extends 'userview/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if category %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'userindex' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ category.category_name }}</li>
              </ol>
            </nav>
            {% else %}
            <h1>Product not found</h1>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if products %}
        {% for product in products %}
       <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <a href="{% url 'productdetail' product.id %}">
            <img class="card-img-top" src="{{ product.product.product_image.url }}" alt="Product Image" style="height: 250px; object-fit: cover;">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ product.product.product_name }}</h5>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <!-- Display star ratings -->
                    <span title="{{ product.rating }}">
                        <i style="color:yellow" class="fa fa-star{% if product.rating < 0.5 %}-o{% elif product.rating >= 0.5 and product.rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                        <i style="color:yellow" class="fa fa-star{% if product.rating < 1.5 %}-o{% elif product.rating >= 1.5 and product.rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                        <i style="color:yellow" class="fa fa-star{% if product.rating < 2.5 %}-o{% elif product.rating >= 2.5 and product.rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                        <i style="color:yellow" class="fa fa-star{% if product.rating < 3.5 %}-o{% elif product.rating >= 3.5 and product.rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                        <i style="color:yellow" class="fa fa-star{% if product.rating < 4.5 %}-o{% elif product.rating >= 4.5 and product.rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                    </span>
                    <span><strong>({{ product.rating }}/5)</strong></span>
                </div>
            </div>
            <p class="card-text"><strong>₹{{ product.discounted_price|floatformat:"0" }}</strong> <small class="text-muted"><del>₹{{ product.product_price|floatformat:"0" }}</del></small></p>
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'productdetail' product.id %}" class="btn btn-primary btn-sm">View</a>
            </div>
        </div>
    </div>
</div>

        {% endfor %}
        {% else %}
        <!-- Display "Products Not Found" message if no products are found -->
        <div class="col-md-12">
            <div class="card mb-4 shadow-sm text-center">
                <div class="card-body">
                    <h2 class="mt-5" style="color:#FF6F61">No products found for {{ category.category_name }}</h2><p class="lead">Check back later for updates or explore other categories.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
