{% extends 'userview/base.html' %}
{% load static %}
{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'userindex' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'productlist' %}">Products</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <!-- <a href="{% url 'userindex' %}" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">Home</a> -->
    
    <a href="{% url 'userprofile' %}" class="nav-item nav-link {% if request.path == '/userprofile/' %}active{% endif %}">
        <i class="fa fa-dashboard"></i> Dashboard
    </a>
    
    <a href="{% url 'orderslist' %}" class="nav-item nav-link {% if request.path == '/order/orderslist/' %}active{% endif %}">
        <i class="fa fa-shopping-bag"></i> Orders
    </a>
    
    <a href="{% url 'add_wallet' %}" class="nav-item nav-link {% if request.path == '/add-wallet/' %}active{% endif %}">
        <i class="fa fa-wallet"></i> Wallet
    </a>

    <a href="{% url 'addressbook' %}" class="nav-item nav-link {% if request.path == '/address-book/' %}active{% endif %}">
        <i class="fa fa-map-marker-alt"></i> Address
    </a>
    
    <a href="{% url 'changeuserpassword' %}" class="nav-item nav-link {% if request.path == '/change-password/' %}active{% endif %}">
        <i class="fa fa-key"></i> Change Password
    </a>
    
    <a href="{% url 'profiledetails' %}" class="nav-item nav-link {% if request.path == '/profiledetails/' %}active{% endif %}">
        <i class="fa fa-user"></i> Account Details
    </a>
</div>

                    </div>

                    <div class="col-md-9">

                        <div class="tab-content" style="    height: 105%;">
                            <div class="container">

                                <!-- Display user-related data here -->
                            </div>
                            {% block inner_content %}
                                        <div class="container">
                                    <h2>User Profile</h2>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Username: {{ user.first_name }}</h5>
                                            <p class="card-text">Email: {{ user.email }}</p>
                                            <!-- Add more profile information such as name, address, etc. -->
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>
        
      {% endblock %}
